html, body, #root {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
}

.app-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

/* Left: Algorithm List */
.algorithm-list {
  width: 200px;
  padding: 10px;
  background-color: #f1f1f1;
  border-right: 1px solid #ccc;
  overflow-y: auto;
}

/* Right: Editor */
.editor-panel {
  width: 35%;
  height: 100%;
  border-left: 1px solid #ccc;
}

/* Center: Visualization + Logger */
.main-display {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-y: auto;
}

/* Visualization */
.visualization-area {
  flex: 2;
  background: #e3e3ff;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.viz-box {
  height: 100%;
  background: white;
  border: 1px dashed #aaa;
  padding: 10px;
}

/* Logger */
.logger {
  flex: 1;
  background: #fefefe;
  padding: 10px;
  border-radius: 5px;
  border-top: 1px solid #ddd;
}

.log-box {
  background: #fafafa;
  height: 100%;
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 10px;
}
